<!DOCTYPE html>
<html>
<head>
	<title> Rango</title>
</head>
	<body>
		<h1>Register with Django Blog </h1>

		{% if registered %}
		 <strong>Thank you for registration {{ user }}</strong>
		 <a href="/blog/"> Return to the homepage </a> <br />

        {% else %}
          <strong> Register Here </strong> <br />
         <form id="user_form" method="post" action="/blog/register/" enctype="multipart/form-data">
         	{% csrf_token %}

            {% for field in user_form.visible_fields %}
              {{ field.errors }}
              {{ field.help_text }}<br/>
              {{ field }}<br/>
            {% endfor %}

          <br /> 
         <input type="submit" name="submit" value="Register" />
         </form>


        {% endif %}

	</body>
</html>
